*{
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.list{
    width: 100%;
    height: 100%;
    min-width: 1500px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    left: 5.5%;
}

/**/

.david{
    width: 20%;
    height: 9vh;
    background-color: #121212;
    color: white;
    border-color: #121212;
    border-radius: 7px;
    border-style: solid;
    transition: border-color 0.5s;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin: 6vh 0px;
}

.david p{
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
    color: gray;
}

.david:hover{
    border-color: #ffc0cb;
    transition: border-color 0.7s;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    border-style: solid;
}

/**/

/**/

.pleksa{
    width: 20%;
    height: 9vh;
    background-color: #121212;
    color: white;
    border-color: #121212;
    border-radius: 7px;
    border-style: solid;
    transition: border-color 0.5s;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin: 6vh 0px;
}

.pleksa p{
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
    color: gray;
}

.pleksa:hover{
    border-color: #ffc0cb;
    transition: border-color 0.7s;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    border-style: solid;
}

/**/

/**/

.jovan{
    width: 20%;
    height: 9vh;
    background-color: #121212;
    color: white;
    border-color: #121212;
    border-radius: 7px;
    border-style: solid;
    transition: border-color 0.5s;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin: 6vh 0px;
}

.jovan p{
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
    color: gray;
}

.jovan:hover{
    border-color: #ffc0cb;
    transition: border-color 0.7s;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    border-style: solid;
}

/**/

/*.list nav{
    width: 100%;
    height: 100%;
    position: relative;
}

.list nav ul{
    position: relative;
    flex: 1;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-size: 0.9vw;
    color: white;
}

.list nav ul li{
    color: white;
    list-style: none;
    margin: 0 10%;
    display: inline-block;
}*/

.container{
    position: absolute;
    width: 100%;
    height: 74px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background-color: pink;
}

.first ul{
    text-align: left;
    margin-top: 1%;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 16px;
}

.first ul li{
    display: inline-block;
    margin: 0 40px;
}

.first ul li a{
    text-decoration: none;
    color: black;
}

.second ul{
    text-align: right;
    margin-top: 1%;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 16px;
}

.second ul li{
    display: inline-block;
    margin: 0 40px;
}

.second ul li a{
    text-decoration: none;
    color: black;
}

.imagecon img{
    height: 60px;
    width: 364px;
}

.background{
    position: absolute;
    top: 74px;
    right: 0%;
    width: 100%;
    height: 100%;
    background-color: #121212;
    z-index: -1;
}

.list nav ul li p{
    padding: 1%;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 0.8vw;
    color: gray;
}

.desc{
    position: absolute;
    width: 70%;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-size: 3vh;
    word-wrap: break-word;
    text-align: center;
    top: 50%; right: 37%;
    transform: translate(50%,-50%);
}

.opis{
    position: relative;
    color: white;
    transition: color 0.5s;
    animation: 1.5s pz ease-out;
}

.overview{
    position: absolute;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-size: 17px;
    width: 422px;
    color: white;
    top: 20%;
}

@keyframes pz{
    0% {
      animation-play-state: running;
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
      animation-play-state: paused;
    }
}

@media only screen and (max-width: 1200px) {
    .first ul li{
        margin: 0 5%;
    }

    .second ul li{
        margin: 0 5%;
    }

    .david{
        height: 60px;
        margin: 2vh 0;
        margin-top: 70px;
    }

    .pleksa{
        height: 60px;
        margin: 2vh 0;
    }

    .jovan{
        height: 60px;
        margin: 2vh 0;
    }

}

@media only screen and (min-width: 1201px) {
    .first ul li{
        margin: 0 11px;
    }

    .second ul li{
        margin: 0 11px;
    }

    .david{
        height: 60px;
        margin-top: 70px;
    }

    .pleksa{
        height: 60px;
    }

    .jovan{
        height: 60px;
    }
}

@media only screen and (min-width: 1500px) {
    .first ul li{
        margin: 0 20px;
    }

    .second ul li{
        margin: 0 20px;
    }
}

@media only screen and (min-width: 1700px) {
    .first ul li{
        margin: 0 40px;
    }

    .second ul li{
        margin: 0 40px;
    }
}