*{
    margin: 0;
    padding: 0;
    background-color: black;
}

.bbot{
    border-bottom: 1px solid white;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 30px;
}
  
::-webkit-scrollbar-track:hover {
    background: #141414;
    border-radius: 30px;
}
  
::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 30px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 30px;
}
